/* Reset basico */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   margin: 0;
   padding: 0;
   width: 100%;
   overflow-x: hidden; /* Esto previene cualquier desbordamiento horizontal */
}

/* Asegurarnos que los componentes principales ocupan todo el ancho */
body, #app, #header-section {
    width: 100vw; /* vw = viewport width, asegura que sea el ancho exacto del viewport */
    max-width: 100vw; /* Limita también el ancho máximo */
    box-sizing: border-box; /* Para que los paddings no añadan ancho extra */
}

img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
}

input, button, textarea, select {
   font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
}

